// Colour variables - change these to affect classes like "is-primary"
$primary-color: #D1EBF0;
$link-color: #495D63;
$info-color: #EAF9FF;
$success-color: #68A691;
$warning-color: #FE5D26;
$danger-color: #FF220C ;
$background-color: #FCECC9;
// $light-color: $light;
// $dark-color: $dark;
$text-color: #252323;
// $button-padding-vertical :20px;
// $button-padding-horizontal :30px;
// Font variables - change these to affect the text
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
$title-font: '"Boldonse", system-ui';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$primary-font: '"Winky Sans", sans-serif';